@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* General body styles */
body {
  margin: 0;
  background-image: url(../pics/the.svg);
  background-position: center;
  background-size: contain;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Header styles */
.site-header {
  background: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;

  align-items: center;
  padding: 15px 20px;
}

/* Smiley sticker styles */
.smiley {
  margin-left: 1100px;
  font-size: 2rem; /* Adjust size as needed */
  cursor: pointer;
  float: left;
  transition: transform 0.3s;
}

.smiley:hover {
  transform: scale(1.2); /* Slightly enlarge on hover */
}

/* Side menu styles */
.menu {
  position: fixed;
  top: 0;
  left: -250px; /* Start off-screen */
  width: 250px;
  height: 100%;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 10;
  padding-top: 60px;
}

.menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.menu a:hover {
  background-color: #0f3415;
}

.header {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 22px;
  color: #0f3415;
  text-align: center;
  margin: 20px 0;
}

#map {
  width: 350px;
  height: 500px;
}

.office-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0;
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
  list-style: none;
  padding: 0;
  transition: transform 0.3s ease;
}

.office-list li {
  background-color: #f9f9f9; /* Original background color */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 350px;
  flex: 1 1 auto;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transition for smooth effect */
}

.office-list li:nth-child(odd) {
  flex: 1 1 250px;
}

.office-list li:nth-child(even) {
  flex: 1 1 300px;
}

.office-list li h3 {
  margin: 0 0 10px;
}

.office-list li p {
  margin: 5px 0;
}

.office-list li a {
  color: black;
  text-decoration: none;
}

.office-list li a:hover {
  color: white;
}

.office-list li:hover {
  background-color: #0f3415; /* Background color on hover */
  color: white; /* Text color on hover */
  transform: scale(1.03); /* Slightly scale up the card */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Increase shadow on hover for depth effect */
}

.office-info h2 {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 22px;
  color: #0f3415;
  margin-left: 400px;
}

.dashboard {
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;

  font-size: 60px;
}

.dashboard-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 200px; /* Adjust width as needed */
  margin: 10px;
}

.card h3 {
  margin: 10px 0;
  color: #555;
}

.card-icon {
  width: 75px;
  height: 65px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.card {
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.card:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}
